<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="../img/img1.jpg " alt="" class="img-thumbnail" width="200px">
      <h1 class="display-4">Biagi Archie Fais</h1>
      <p class="lead">Orang suka tidur | dan suka ngoding </p>
    </div>
  </div>
</div>
  